body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    padding: 20px;
    margin-bottom: 200px; /* Add some margin to create space for the footer */
}

header {
    background: linear-gradient(to bottom, #d7bea8ff, rgb(246, 223, 203)); 
    color: black;
    padding: 1em 0;
    text-align: center;
    font-family: "Playfair Display", serif;

}

header h1 a {
    text-decoration: none;
    color: black;
    font-size: 6rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

header :hover {
    color: white;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: 1.2rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px; /* Add padding for better visibility of hover effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    font-weight: bold;
    font-size: 1.5rem;
}

/* index pic */

#weddingPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weddingIntro h2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: lighter;
    font-size: 5rem;
    background-color: rgba(211, 211, 211, 0.7);
    width: 100%;
    font-family: "Corinthia", cursive;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer {
    background: linear-gradient(to bottom, #d7bea8ff, rgb(246, 223, 203));
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: x-small;
}

footer p {
    color: black;
    text-align: center;
}


/* guest regis */


label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="tel"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #7d4f50ff;
    border-radius: 4px;
}

#submitGuest {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    
}

.attending {
    background-color: rgb(168, 212, 121);
}

/* seating - tables */

#guest-table {
    border-collapse: separate;
    border-spacing: 0px; /* Adjust the value to set the spacing between columns */
}


#guest-table td, #guest-table th {
    border: 1px solid black; /* Add a solid black border to each table cell */
}


#tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
    justify-content: flex-start;
    position: relative;
    height: 80vh; /* Adjust as necessary */
    width: 60%; /* Adjust as necessary */
    margin-left: auto;
    margin-right: 50px; /* Optional: Adjust for spacing from the right edge */
    font-weight: bold;
}

.table {
    width: 300px;
    height: 300px;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    flex-wrap: wrap;
    border-radius: 50%;
}


/*seating - names*/
#guest-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 200px;
    display: inline;
    overflow-y: auto;

}
.guest-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #744253ff;
    border: 1px solid #ccc;
    cursor:grab move;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.dragging {
    opacity: 0.5;
}


/* Start Planning page design */

.guideToStart h2 a {
    text-decoration: none;
    color: rgb(123, 67, 85);
}

.guideToStart h2 a:hover {
    color: #d7bea8ff;
}

.guideToStart #finally {
    font-size: 2rem;
    font-style: italic;
}

#startIntro {
    font-size: 2.5rem;
   
}


/* Event Form design */

#weddingHeader {
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.weddingEventDetails {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

#event-form  {
    margin: 20px 0;
    background: linear-gradient(to bottom, #fff, #f4f4f4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1rem;
    background: #d1be9cff;
    width: 30%;
    font-weight: bold;
    font-style: "Playfair Display", serif;
}

button:hover {
    background: #f9eae1ff;
}

/* web scroller */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 12px; /* width of vertical scrollbar */
    height: 12px; /* height of horizontal scrollbar */
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;/* color of the track */
    background: #744253ff;
}

::-webkit-scrollbar-track-piece {
    background: none; /*the track NOT covered by the handle.*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b49286ff; /* color of the handle */
    border-radius: 50px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d7bea8ff /* color of the handle when hovered */
}


